.App {
  text-align: center;
}

/* custom css  */



/* header */
.block{
  display: none;
}
.seen{
  display: block;
}

.active{
  background: rgba(37, 74, 196, 0.829);
  transition: 1s;
}
.bar{
  background: #4b87be46;
  transition: 1s;
}

/* home */

/* banner */

.quality{
  background-image: url("https://image.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner{
  background-image: url("https://i.ibb.co/xSzsKZW/slider1-elomus3-1920x900-1920x900-progressive.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.fxl{
  font-size: 5.5rem;
  color: white;
}

/* intro  */
.intro-icon{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #FF9797;
}
.intro-icon-2{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #19C1FE;
}
.intro-icon-3{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color:#F8B42A;
}




/* form  */
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form{    
  border: 1px solid black;
  margin: 30px;
  padding: 50px;
}
.input{
  padding: 4px;
  margin: 8px;
}


/* user */
.user img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.user-profile img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}









/* footer  */
.footer{
  background-color:#4e565a ;
}


/* responsive behaviour */
@media only screen and (max-width: 768px) {
  .seen{
    display: none;
  }
  .block{
    display: block;
  }
  .user-div{
    display: flex;
    justify-content: space-evenly;
  }
  .departments{
    padding: 50px;
  }
  .contact{
    margin-right: 40px ;
  }
}

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }